# Backend Requirements (FastAPI)
fastapi
uvicorn
pydantic

# Frontend Requirements (Flask)
Flask

# Machine Learning
scikit-learn
numpy
pandas
joblib

# Data Processing
openpyxl

# Utilities
python-multipart
